*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  height: 100%;
  width: 100%;
}

html{
  background:linear-gradient( to right ,rgba(255, 0, 0, 0.353), rgba(255, 166, 0, 0.527));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(197, 221, 242);
}
.notes{
  display: flex;
 
  
  flex-wrap: wrap;
}

.note{
  height: 400px;
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #eee8e87a;
}

.note h1{
   font-size:30px;
   text-transform: uppercase;
   color: azure;


}

.note p{
  font-size: 20px;
  color: rgb(24, 72, 56);
  text-transform: capitalize;
}